@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
	background-color: #222;
	height:100%;
}

body {margin:0;
	height:100%;
	}


footer,header,main,nav{display:block}
.logo {
  overflow: hidden;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	letter-spacing: -0.6px;
	word-spacing: 0px;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	margin-top: 40%;
}

h2 {
  overflow: hidden;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
	letter-spacing: -0.6px;
	word-spacing: 0px;
	color: #fff;
	font-weight: 700;
}

h3 {
  overflow: hidden;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	letter-spacing: -0.6px;
	word-spacing: 0px;
	color: #fff;
	font-weight: 400;
}

.center {
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 10px;
}
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #9c0375;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #9c0375;
}

.column {
  float: left;
  width: 100%;
}

.paragraph {
	  overflow: hidden;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	letter-spacing: -0.6px;
	word-spacing: 0px;
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	}
.footer {
  background-color: #000;
  text-align: center;
  padding: 10px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #8f8c8e;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #9c0375;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #8f8c8e;
  background: #e8e3e7;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table.minimalistBlack {
  border: 1px solid #C5D3D8;
  background-color: #FCFCFC;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
}
table.minimalistBlack thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #797979;
}
table.minimalistBlack thead th {
  font-size: 14px;
  font-weight: bold;
  color: #AD3697;
  text-align: left;
}
table.minimalistBlack tfoot td {
  font-size: 11px;
}

/* Colors */
.w3-aqua,.w3-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-light-blue,.w3-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.w3-brown,.w3-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.w3-cyan,.w3-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.w3-purple,.w3-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.w3-deep-purple,.w3-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.w3-text-amber,.w3-hover-text-amber:hover{color:#ffc107!important}
.w3-text-aqua,.w3-hover-text-aqua:hover{color:#00ffff!important}
.w3-text-blue,.w3-hover-text-blue:hover{color:#2196F3!important}
.w3-text-light-blue,.w3-hover-text-light-blue:hover{color:#87CEEB!important}
.w3-text-brown,.w3-hover-text-brown:hover{color:#795548!important}
.w3-text-cyan,.w3-hover-text-cyan:hover{color:#00bcd4!important}
.w3-text-blue-grey,.w3-hover-text-blue-grey:hover,.w3-text-blue-gray,.w3-hover-text-blue-gray:hover{color:#607d8b!important}
